h1 {
  position: relative;
  background: darkturquoise;
  box-shadow: 0px 0px 0px 5px darkturquoise;
  border: dashed 2px white;
  padding: 0.8em 0.8em;
  color: white;
  text-align: center;
  font-family: "Arial";
  font-size: 48px;
}

h1:after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 32px 32px;
  border-style: solid;
  border-color: #fff #fff #a8f2ff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);

}


.btn-flat-border {
  display: block;
  padding: 0em 1em;
  text-decoration: none;
  color: darkturquoise;
  border: solid 2px darkturquoise;
  border-radius: 3px;
  transition: .2s;
  margin: 32px;
  float: center;
  font-family: "Arial", "ヒラギノ角ゴ Pro W", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic";
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.btn-flat-border:hover {
  background: darkturquoise;
  color: white;
}


.tab-wrap {
    display: flex;
    flex-wrap: wrap;
    margin:20px 0;
    padding: 32px;
  }
  .tab-wrap:after {
    content: '';
    width: 100%;
    height: 3px;
    background: darkturquoise;
    display: block;
    order: -1;
    padding-right: 32px;
  }
  .tab-label {
    color: White;
    background: LightGray;
    font-family: "Arial", "ヒラギノ角ゴ Pro W", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic";
    font-weight: 800;
    font-size: 32px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    white-space: nowrap;
    text-align: center;
    padding: 10px .5em;
    order: -1;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    flex: 1;
  }
  .tab-label:not(:last-of-type) {
    margin-right: 5px;
  }
  .tab-content {
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }
  /* アクティブなタブ */
  .tab-switch:checked+.tab-label {
    background: darkturquoise;
  }
  .tab-switch:checked+.tab-label+.tab-content {
    height: auto;
    overflow: auto;
    padding: 15px;
    opacity: 1;
    box-shadow: 0 0 16px rgba(0,0,0,.2);
    font-family: "Arial", "ヒラギノ角ゴ Pro W", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic";
    font-weight: 500;
    font-size: 48px;
    color: #606060;
  }
  /* ラジオボタン非表示 */
  .tab-switch {
    display: none;
  }
  #page_top{
    width: 100px;
    height: 100px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: darkturquoise;
    opacity: 0.6;
    border-radius: 50%;
    z-index: 2
  }
  #page_top a{
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f106';
    font-size: 50px;
    color: #fff;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }

  .Container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px;
}

.Container {
  font-family: "Arial", "ヒラギノ角ゴ Pro W", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic";
  text-align: center;
  padding: 40px;
}
.btn-open {
  display: inline-block;
  max-width: 200px;
  border: 2px solid darkturquoise;
  font-size: 48px;
  color: darkturquoise;
  text-decoration: none;
  line-height: 88px;
  font-weight: bold;
  padding: 8px 32px;
  border-radius: 4px;
  transition: .4s;
  width: 240px;
  height: 80px;
}

.btn-open:hover {
  background-color: darkturquoise;
  border-color: darkturquoise;
  color: #FFF;
}

.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 6px;
  background: #ccc;
  }
 .progress-bar {
  height: 6px;
  background: orange;
  width: 0%;
  }

@media (prefers-color-scheme: dark) {
  body{
    background-color:#101010;
    color: #fff;
  }
  h1 {
    position: relative;
    background: teal;
    box-shadow: 0px 0px 0px 5px teal;
    border: dashed 2px black;
    padding: 0.8em 0.8em;
    color: white;
    text-align: center;
    font-family: "Arial";
    font-size: 48px;
  }
  
  h1:after {
    position: absolute;
    content: '';
    left: -7px;
    top: -7px;
    border-width: 0 0 32px 32px;
    border-style: solid;
    border-color: #000 #000 darkturquoise;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  
  }
  
  
  .btn-flat-border {
    display: block;
    padding: 0em 1em;
    text-decoration: none;
    color: lightgray;
    border: solid 2px teal;
    border-radius: 3px;
    transition: .2s;
    margin: 32px;
    float: center;
    font-family: "Arial", "ヒラギノ角ゴ Pro W", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic";
    font-size: 32px;
    font-weight: 500;
    text-align: center;
  }
  
  .btn-flat-border:hover {
    background: teal;
    color: black;
  }
  
  
  .tab-wrap {
      display: flex;
      flex-wrap: wrap;
      margin:20px 0;
      padding: 32px;
    }
    .tab-wrap:after {
      content: '';
      width: 100%;
      height: 3px;
      background: teal;
      display: block;
      order: -1;
      padding-right: 32px;
    }
    .tab-label {
      color: lightgray;
      background: #323232;
      font-family: "Arial", "ヒラギノ角ゴ Pro W", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic";
      font-weight: 800;
      font-size: 32px;
      text-shadow: 0 -1px 0 rgba(0,0,0,.2);
      white-space: nowrap;
      text-align: center;
      padding: 10px .5em;
      order: -1;
      position: relative;
      z-index: 1;
      cursor: pointer;
      border-radius: 5px 5px 0 0;
      flex: 1;
    }
    .tab-label:not(:last-of-type) {
      margin-right: 5px;
    }
    .tab-content {
      width: 100%;
      height: 0;
      overflow: hidden;
      opacity: 0;
    }
    /* アクティブなタブ */
    .tab-switch:checked+.tab-label {
      background: teal;
    }
    .tab-switch:checked+.tab-label+.tab-content {
      height: auto;
      overflow: auto;
      padding: 15px;
      opacity: 1;
      background: #242424;
      box-shadow: 0 0 4px rgba(0,0,0,.8);
      font-family: "Arial", "ヒラギノ角ゴ Pro W", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic";
      font-weight: 500;
      font-size: 48px;
      color: lightgray;
    }
    /* ラジオボタン非表示 */
    .tab-switch {
      display: none;
    }
    #page_top{
      width: 100px;
      height: 100px;
      position: fixed;
      right: 0;
      bottom: 0;
      background: teal;
      opacity: 0.6;
      border-radius: 50%;
      z-index: 2
    }
    #page_top a{
      position: relative;
      display: block;
      width: 100px;
      height: 100px;
      text-decoration: none;
    }
    #page_top a::before{
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f106';
      font-size: 50px;
      color: #000;
      position: absolute;
      width: 50px;
      height: 50px;
      top: -5px;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      text-align: center;
    }
  
    .Container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 150px 150px 150px;
  }
  
  .Container {
    font-family: "Arial", "ヒラギノ角ゴ Pro W", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic";
    text-align: center;
    padding: 40px;
  }
  .btn-open {
    display: inline-block;
    max-width: 200px;
    border: 2px solid teal;
    font-size: 48px;
    color: lightgray;
    text-decoration: none;
    line-height: 88px;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 4px;
    transition: .4s;
    width: 240px;
    height: 80px;
  }
  
  .btn-open:hover {
    background-color: teal;
    border-color: teal;
    color: #000F;
  }
  .progress-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 3px;
  background: #303030;
  }
 .progress-bar {
  height: 3px;
  background: darkturquoise;
  width: 0%;
  }
}